@import "../../assets/sass/vars";

.sidebar {
	transition: all 0.3s ease-in-out;

	@media only screen and (max-width: $md) {
		border-bottom: 1px solid #ebf0f2;
		border-radius: 20px 20px 0 0;
		padding: 1.875rem;
	}

	@media only screen and (max-width: $xs) {
		border-bottom: 0;
		border-radius: 0;
		box-shadow: 0px 20px 40px rgba(103, 118, 128, 0.2);
		padding: 0.5rem 0.9375rem;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
	}

	.nav {
		display: flex;
		flex-wrap: wrap;

		@media only screen and (max-width: $md) {
			justify-content: space-between;
		}

		@media only screen and (max-width: $xs) {
			justify-content: center;
		}
		
		&__item {
			display: block;
			height: 6.25rem;
			width: 100%;
			margin-bottom: 1rem;
			text-align: center;
			text-transform: uppercase;
			
			@media only screen and (max-width: $md) {
				height: 5rem;
				margin-bottom: 0;
				width: calc(25% - 1rem);
			}
			
			@media only screen and (max-width: $xs) {
				height: auto;
				width: calc(25% - 0rem);
			}
			
			&:last-child {
				margin-bottom: 0;
			}
			
			a {
				background-color: #f7f9fa;
				border-radius: 1.25rem;
				color: $lightGrey;
				font-size: 0.875rem;
				font-weight: 500;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 100%;
				position: relative;
				text-decoration: none;
				transition: all 0s;
				
				@media only screen and (max-width: $md) {
					border-radius: 1rem;
					font-size: 0.75rem;
				}
				
				@media only screen and (max-width: $xs) {
					font-size: 0.6875rem;
					background-color: transparent;
				}
				
				&:hover {
					color: $blue;
				}
				
				&.active {
					background-image: linear-gradient(142.17deg, #3086ff 6.66%, $blue 91.48%);
					box-shadow: inset -0.25rem -0.25rem 0.3125rem rgba(0, 0, 0, 0.1), inset 0.25rem 0.25rem 0.3125rem rgba(255, 255, 255, 0.23);
					color: $white;
					
					@media only screen and (max-width: $xs) {
						background-image: none;
						box-shadow: none;
						color: $blue;
						
						&::before {
							content: "";
							background-color: $blue;
							height: 0.125rem;
							position: absolute;
							bottom: -8px;
							left: 0;
							width: 100%;
						}
					}
				}
				
				svg {
					display: block;
					font-size: 2.25rem;
					margin-top: 0.25rem;
					margin-right: 0;
					margin-bottom: 0.5rem;
					@media only screen and (max-width: $md) {
						font-size: 1.75rem;
						margin-bottom: 0.25rem;
					}
					
					@media only screen and (max-width: $xs) {
						font-size: 1.0625rem;
						margin-top: 0.375rem;
					}
				}
			}
		}
	}
}
