@import "../../../assets/sass/vars";

.skill-item {
	display: flex;
	height: 1.5rem;
	width: 100%;
	margin-bottom: 1.5rem;
	@media only screen and (max-width: $xs) {
		margin-bottom: 0.75rem;
		height: 1rem;
	}
	&:last-child {
		margin-bottom: 0;
	}

	img {
		height: 100%;
		width: 1.5rem;
		margin-right: 1rem;
		@media only screen and (max-width: $xs) {
			width: 1rem;
			margin-right: 1rem;
		}
	}
	.progress {
		background-color: #f7f9fa;
		border-radius: 1rem;
		height: 100%;
		width: 100%;
		overflow: inherit;
		position: relative;
		text-align: right;
		&-bar {
			width: 0%;
			border-radius: 1rem;
			overflow: hidden;
			position: relative;
			transition: width 0.6s ease;
		}
		&-text {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
			padding: {
				left: 0.8125rem;
				right: 0.8125rem;
			}
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
		}
	}
}
