@import "../../assets/sass/vars";

.map {
	margin-bottom: 2rem;
	text-align: center;
	height: 23.75rem;
	@media only screen and (max-width: $xs) {
		height: 15.625rem;
		margin-bottom: 1.25rem;
	}

	iframe {
		height: 100%;
		width: 100%;
	}
}
