.timeline {
	margin-top: 1.75rem;
	padding-left: 0.5rem;
	&__item {
		border-left: 2px solid #ebf0f2;
		padding-bottom: 0.5625rem;
		padding-left: 1.375rem;
		position: relative;
		&:last-child {
			border: 0;
		}
		&::before {
			content: "";
			background-color: #304cfd;
			box-shadow: 0 0 0 0.1875rem rgba(48, 76, 253, 0.25);
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: -5px;
			height: 0.625rem;
			width: 0.625rem;
		}
	}
	&__period {
		color: rgba(94, 110, 128, 0.8);
		font-size: 0.875rem;
	}
}
