@import "../../assets/sass/vars";

.header__avatar {
	background-color: $white;
	border: 0.375rem solid $white;
	border-radius: 2.9375rem;
	margin-top: -4.125rem;
	height: 10.125rem;
	width: 10.125rem;
	overflow: hidden;

	@media only screen and (max-width: $sm) {
		margin-top: -6rem;
		margin-bottom: 1.25rem;
	}

	img {
		height: 100%;
		width: 100%;
	}
}
