@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./assets/sass/vars";

body {
	margin: 0;
	color: $lightGrey;
	font: {
		family: $poppins;
		size: 0.875rem;
		weight: 400;
	}
	line-height: 1.7;
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	background: linear-gradient(145.44deg, #f2f4fa 0%, #fafbfc 100%);
}

@for $i from 1 to 6 {
	h#{$i} {
		color: $darkGrey;
		font-weight: 600;
		line-height: 1.3;
	}
}

ul {
	list-style: none;
	margin-bottom: 0;
}
