// SCREENS
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

// FONT
$poppins: "Poppins", sans-serif;

// COLORS
$blue: #304cfd;
$orange: #ff965d;
$purple: #9b59b0;
$border: #f0f0f0;
$green: #2ecc71;
$red: #e74c3c;
$white: #ffffff;
$lightGrey: #5e6e80;
$darkGrey: #3b4b5e;

// ELEMENTS
$header: header;
$nav: nav;
